---
// Example: Fetch Markdown from a remote API
// and render it to HTML, at runtime.
// Using "marked" (https://github.com/markedjs/marked)
import { marked } from "marked";
// const response = await fetch('https://raw.githubusercontent.com/wiki/adam-p/markdown-here/Markdown-Cheatsheet.md');
// const markdown = await response.text();
const files = await Astro.glob("./first-report/*.md");
const markdown = files[0].rawContent();
const content = marked.parse(markdown);
---

{
  files.map((file) => (
    <div>
      <h1>{file.name}</h1>
      <div class="prose" set:html={marked.parse(file.rawContent())} />
    </div>
  ))
}
<!-- <article set:html={content} class="prose" /> -->
