---
import { Icon } from "astro-icon";
---

<section class="overflow-hidden flex justify-center text-center">
  <div class="px-8 py-16 md:p-12 lg:px-40 lg:py-24">
    <div class="mx-auto max-w-xl">
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-5xl">
        OCR Sudoku Project
      </h2>

      <p class="text-gray-500 dark:text-gray-300 md:mt-4">
        Epita S3 Project : Optical Character Recognition <br /> Sudoku Solver made
        in 2022
      </p>

      <div class="flex flex-col mt-8 justify-center">
        <a
          href="https://github.com/epita-s3-ocr/OCR-Sudoku-Solver-S3-Project"
          class="mx-auto inline-flex gap-2 rounded px-6 py-3 transition focus:outline-none focus:ring focus:ring-white font-medium text-white bg-primary-600 hover:bg-primary-700"
        >
          <Icon name="mdi:github" height={24} width={24} />
          The Code is here !
        </a>
        <a
          href="/doc/md__r_e_a_d_m_e.html"
          class="mx-auto mt-4 inline-flex gap-2 rounded px-6 py-3 transition focus:outline-none focus:ring focus:ring-white font-medium text-white bg-green-700 hover:bg-green-800"
        >
          Documentation
        </a>
      </div>
    </div>
  </div>
</section>
